* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.page {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("./assets//imgs/background.jpg") center center;
    /* background-size: cover; */
}

.content {
    width: 100%;
    height: 100%;
    background: rgba(247, 243, 243, 0.79);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #0187de;
    font-weight: 700;
}
.underline {
    border-bottom: 1px solid #0187de;
}
.sub-title {
    color:rgb(14, 122, 122);
    font-size: 1.2rem;
}
i {
    color: #0187de;
    font-size: 1.5rem;
    padding: 0 10px;
}
.section {
    padding: 19px;
    border-bottom: 3px solid #0187de;
}
.section-title {
    border-right: 3px solid rgb(40, 41, 41);
    padding: 9px;
    height: 100%;
    }
.section-title h4 {
    text-align: right;
    color: #0187de;
    font-weight: 700;
}

.section-desc h5 {
    color: #353738cd;
    padding: 9px;
}

.skills .row .col-md-6 h5 {

}
.skills .row .col-6 h5::before {
    content: "*";
    margin-right: 20px;

}

.languages .row .col-12 {
    padding: 0;
    margin: 15px 0;
    background:rgba(40, 41, 41, 0.259);
}

.languages .row .col-12 h5 {
    padding: 6px;
    color: #0187de;
    background:rgba(247, 243, 243, 0.79);
    border-bottom: 2px solid #0186dec1;
    font-weight: 700;
}
.languages .row .col-12 h4 {
    padding: 14px 20px;
}

.education h5 {
    margin: 0;
    color:rgb(36, 48, 48);
    font-weight: 700;
}


.projects .project {
    border-right: 5px solid #0186dec1;
    border-bottom: 1px solid #0186dec1;
    padding: 10px 3px;
    margin-top: 17px;
}

.projects .project .title h3 {
    width: 17%;
    border-bottom: 2px solid rgba(68, 68, 68, 0.272);
    padding: 1px;
}

.projects .project .desc {
    padding: 13px;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

.tech {
    color: #930404ad;
    font-weight: 700;
}